
.main{
    flex-direction: column;
    display: flex;
    padding:20px;
    margin: 20px;
    height: auto;
    width: auto;  
    justify-content:center;
    align-items: center;

}

div {
    text-align: center;
    margin: 5px;
}



button {
    width: 80px;
    height: 60px;



}


h2 {
    padding-top: 10px;
}



body[data-bs-theme="dark"] {
    background-color: #333;
    color: #fff;
}

body[data-bs-theme="light"] .gauge__cover {
    background: #fff; 
    color: #333; 
    transition: .4s;
}





.gauge {
    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #f7f7f7;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 200%;
    background: #20daab;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform .4 ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
  