
.main{
    flex-direction: column;
    display: flex;
    padding:20px;
    margin: 20px;
    height: auto;
    width: auto;  
    justify-content:center;
    align-items: center;

}

div {
    text-align: center;
    margin: 5px;
}



button {
    width: 80px;
    height: 60px;
}


h2 {
    padding-top: 10px;
}

body {
    transition: background-color 0.8s;
}

body[data-bs-theme="dark"] {
    background-color: #333;
    color: #fff;
}

body[data-bs-theme="light"] {
    background-color: #fff;
    color: #333;
}

.progress{
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background: #4AA555;
    height: 7em;
    width: 100%;
  }
  
  .progress::before{
    height: inherit;
    width: var(--progress);
    background: #EC5726;
    content: " ";
    display: block;
    animation: progression 1s;
  }
  
  @keyframes progression{
    0% {
      width: 0%
    }
  }
  
  


