


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   body {
    background-color: #dcd7d8;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;


    } 

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    

    .switch input {
      opacity: 100%;
      width: 30px;
      height: 30px;
    }

  .manette {
    text-align: center;
  }

.manette p {
    text-align: center;
    font-family: 'Dosis', sans-serif;
  }
  
  
  .manette {
    background-color: #656464;
    width: 325px;
    height: 425px;
    padding: 10px; 
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    border-color: #131212 ;
    border-width: 7px;
    border-style:outset;
    border-radius: 15px;
  }
  
 
  
  button {
  display: inline-block;
  height: 30px;
  padding: 10px 20px 20px 20px;
  font-size: 15px;
  border-radius: 10px;
  color: #201b1b;
  background: #f1f1e8 ;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 30px;
  border : 3px solid #272522;
  box-shadow: 0 9px #171717;;
}   

button:hover {
  background-color: #7f9da9;
}

button:active { 
  background-color: #1d4d60;
  box-shadow: 0 5px #131313;
  transform: translateY(4px);
  /* Scaling button to 0.98 to its original size */ 
}

